body{
    margin:0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

*{
    box-sizing: border-box;
}
li{
    list-style-type: none;
}

.container{
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}