section.places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
section.places h1{
    font-size: 30px;
    width: 100%;
    margin-right: 15px;
}

section.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
section.places article h2{
    font-size: 30px;
}